<h1> Detalles del juego </h1>

<img src="{{gameDetails.imagen}}" alt="img" width="200px"> <br />
{{gameDetails.titulo}} <br />
{{gameDetails.creador.username}} <br />
{{gameDetails.descripcion}} <br />
{{gameDetails.url}} <br />


<form action="/games/favourites/{{gameDetails._id}}" method="POST">
    <button> Añadir favorito </button>
</form>


{{#if esCreador}}
    <a href="/games/{{gameDetails._id}}/edit">
        <button> Editar </button>
    </a>
{{/if}}