<h1> Detalles del juego </h1>

<img src="{{gameDetails.imagen}}" alt="img" width="200px"> <br />
{{gameDetails.titulo}} <br />
{{gameDetails.creador}} <br />
{{gameDetails.descripcion}} <br />
{{gameDetails.url}} <br />

{{#if esCreador}}

<a href="/games/{{gameDetails._id}}/edit">
    <button> Editar </button>
</a>

{{/if}}