<h1> Detalles del juego </h1>

<img src="{{gameDetails.imagen}}" alt="img" width="200px"> <br />
{{gameDetails.titulo}} <br />
{{gameDetails.creador.username}} <br />
{{gameDetails.descripcion}} <br />
{{gameDetails.url}} <br />


    <form action="/games/favourites/{{gameDetails._id}}" method="POST">
        <button> 
            {{#if esFavorito}}

            Borrar favorito 

            {{else}}

            Añadir favorito
            
            {{/if}}

        </button>
    </form>

<br>
{{#if esCreador}}
    <a href="/games/{{gameDetails._id}}/edit">
        <button> Editar </button>
    </a>
{{/if}}

<br>
<br>

{{!-- <b>Prueba fuera: </b> {{esPropietario}} --}}

{{#each commentList}}
    <p>{{this.username.username}}</p>
    <p>{{this.message}}</p>

    {{#if this.esPropietario}}
        <form action="/games/{{this.gameId}}/details/comment/{{this._id}}" method="post">
            <button>Eliminar</button>
        </form>
        <br>
    {{/if}}
    <br>
{{/each}}

<br>
<br>

<form action="/games/{{gameDetails._id}}/details/comment" method="post">
    <label for="username">Usuario: </label>
    <input type="text" name="username" value="{{userComment}}" disabled>
    <br>
    <br>
    <label for="message">Comentario: </label>
    <br>
    <textarea name="message" rows="4" cols="50">
    </textarea>
    <br>
    <br>
    <button>Añadir comentario</button>
</form>