<h2 style="margin-top: 15px; margin-bottom: 25px;">Editar información del usuario</h2>

<form action="/user/{{userEdit._id}}/edit" method="POST">
<div class="mb-3">
    <label class="form-label" for="username">Username: </label>
    <input class="form-control" type="text" name="username" value="{{userEdit.username}}">
</div>
<div class="mb-3">
    <label class="form-label" for="email">Correo electrónico: </label>
    <input class="form-control" type="email" name="email" value="{{userEdit.email}}">
</div>
<div class="mb-3">
    <label class="form-label" for="admin">Administrador: </label>
    {{#if userEdit.admin}}
        <select class="form-select form-select-lg mb-3" name="admin">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    {{else}}
        <select class="form-select form-select-lg mb-3" name="admin">
            <option value="false">false</option>
            <option value="true">true</option>
        </select>
    {{/if}}
</div>
    <button class="btn btn-primary">Guardar cambios</button>
</form>
<br>
<form action="/user/{{userEdit._id}}/delete" method="post">
    <button class="btn btn-danger">Eliminar usuario</button>
</form>
<br>
<br>
    <p style="color:red">{{errorMessage}} </p>
